@import "tailwindcss";

@theme {
  --font-display: var(--font-archivo);
  --font-sans: var(--font-inter);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
}