

@import "tailwindcss";

@theme {
  /* Aqui você "ensina" ao Tailwind v4 as suas fontes */
  --font-display: var(--font-archivo);
  --font-sans: var(--font-inter);
}

/* Opcional: define a fonte padrão do corpo do site */
body {
  font-family: var(--font-inter);
}